.favourite-movies {
  width: 100%;
  align-items: center;
  padding: 2% 5%;
  display: flex;
  flex-wrap: wrap;
}

.favourites-page-container {
  border-radius: 0.6rem;
  width: 90%;
  height: 90vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(16, 16, 16, 0.8);
  z-index: 2;
}

.favourites-page-container hr {
  width: 90%;
  background-color: rgb(255, 255, 255, 0.3);
  height: 0.5px;
  border: none;
}

.favourites-page-content {
  width: 90%;
  height: 80%;
  margin: auto;
  background-color: rgb(68, 68, 68, 0.4);
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}

.favourites-page-title {
  margin: 0 4.3vw;
  margin-top: -2rem;
}
