.add-list-popup {
  display: flex;
  flex-direction: column;
  height: 10rem;
  overflow-y: scroll;
  scroll-behavior: auto;
  gap: 0.5rem;
  padding: 1rem;
}

.add-list-popup .list-tile-image {
  height: 4rem;
}
.add-list-popup::-webkit-scrollbar {
  width: 0;
}

.add-list-title {
  margin: 0;
}
